.favorites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    animation: 1s ease-in-out fadeInFromLeft;
}

.orders {
    display: flex;
    margin: 0 15px;
    animation: 1s ease-in-out fadeInFromLeft;
}

@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translatex(-200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.title {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.5;
    text-transform: uppercase;

    margin: 15px 0;
    text-align: center;
}

.buttonContainer {
    text-align: right;
    margin: 0 20px 20px 0;
}

.button {
    border-radius: 30px;
    padding: 10px 15px;

    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(66, 118, 196, .3);

    transition: all 0.3s ease-in;
}

.button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.button:active {
    transform: scale(0.9);
}

.button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.4);
}

.empty {
    margin-top: 30px;
    text-align: center;
}

.link {
    color: blue;
    cursor: pointer;
}

.empty p {
    font-size: 18px;

    color: #666;

    text-align: center;
    animation: 1s ease-out 0s 1 fadeIn;

    margin-bottom: 10px;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 600px) {
    .empty p {
        font-size: 20px;
    }
}