.menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 15px 0;
    text-align: center;
    color: black;
}

.title {
    width: 100%;
}