.elementContainer {
    margin-top: 40px;

    width: 100%;
    display: flex;
    justify-content: space-between;

    animation: 1s ease-in-out fadeInFromLeft;
}

@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translatex(-200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.imgContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentContainer {
    width: 50%;
}

.border {
    border-bottom: 1px solid #1a1a1a1a;
    padding-bottom: 10px;
}

.img {
    width: 60%;
    object-fit: cover;
    border-radius: 30px;
    transition: transform 0.3s ease-in-out;
}

.img:hover {
    transform: scale(1.05);
}

.title {
    font-size: 35px;
    font-weight: bold;
    color: black;
}

.buttonPrice {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 100px;
    padding: 20px 0;
}

.weight {
    font-size: 14px;
    color: #a7a7a7;
    margin: 10px 0;
}

.price {
    margin: 10px 0;

    color: black;
    font-size: 26px;
    font-weight: bold;
}


.description {
    margin: 10px 0;
    padding: 0 5px;
    color: black;
    font-size: 18px;
}

.cartButton {
    height: 40px;
    margin-top: 0;
    width: auto;
}

.tasteButtons {
    display: flex;
    gap: 20px;
}

.countButtons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.button {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background-color: #f0f0f0;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    background-color: #e0e0e0;
    transform: scale(1.1);
}

.button:active {
    transform: scale(0.9);
}

.selectedButton {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.selectedButton:hover {
    background-color: #0056b3;
}

@media (max-width: 1050px) {
    .title {font-size: 25px;}
    .description {font-size: 16px;}
    .img {width: 80%;}
}

@media (max-width: 700px) {
    .elementContainer {
        display: block;
        margin-top: 0;
        padding: 20px;
    }
    .contentContainer {
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }
    .imgContainer {width: 100%;}
    .img {width: 100%;}
    .buttonPrice {justify-content: center;}
    .tasteButtons {justify-content: center;}
    .countButtons {justify-content: center;}
}

@media (max-width: 370px) {
    .title {
        font-size: 21px;
    }
}