.form {
    text-align: center;
}

.title {
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
}

.errorInput {
    border: 2px solid red;
    border-radius: 10px;
}

.error {
    color: red;
    font-size: 16px;
}

.button {
    border-radius: 30px;
    padding: 15px 2lh;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(66,118,196,.3);
    transition: all 0.3s ease-in-out;

    margin: 20px 0;
}

.button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.button:active {
    transform: scale(0.9);
}

.button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.4);
}

.text {
    color: black;
}